<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.onzzz.i2v" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="com.parse.APPLICATION_ID"
        android:value="B2CKe2UZE0bkBAWZKd6dtg0XZ9hLB3sWs2xvOHq7" />
    <meta-data
        android:name="com.parse.CLIENT_KEY"
        android:value="cMqWFwddGkSalo0JAKefTDqcgo0YSDb8FQPWylui" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name" >

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />
        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />

        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="main page"
            android:theme="@style/AppTheme">
           // android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CreateEventActivity"
            android:label="CreateEvent Page"
            android:theme="@style/AppTheme">
            //android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EventActivity"
            android:label="Event Page"
            android:theme="@style/NoActionBarTheme">
        </activity>
        <activity
            android:name=".PhotoUploadActivity"
            android:label="PhotoUpload Page"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".CreateVideoActivity"
            android:label="CreateVideo Page"
            android:theme="@style/AppTheme">
        </activity>
        <activity
            android:name=".AddMemberActivity"
            android:label="AddMember Page"
            android:theme="@style/AppTheme">
        </activity>
    </application>

</manifest>
